/* Columns */
#left {
    position: relative;
    background-color: #C0A9B0;
    border: 8px solid #BCC4DB;
    float: left;
    height: 70vh;
    margin-top: 1%;
    overflow: scroll;
    transition: 0.3s ease;
    width: 22%;
}

.column-hide {
    width: 0% !important;
    padding: 0% !important;
    transform: translateX(-40%);
}

#right {
    float: left;
    height: 71vh;
    overflow: scroll;
    padding: 0rem 2rem;
    width: 78%;

    transition: 0.3s ease;
}

.column-full {
    width: 98% !important;
}

/* Show-hide filter button */
#show-hide {
    align-items: center;
    border: solid #BCC4DB;
    border-width: 4px 4px 4px 0px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: flex;
    height: 5rem;
    justify-content: center;
    left: 22%;
    position: absolute;
    top: 48%;
    width: 0.9rem;

    transition: 0.3s ease;
}

#show-hide:hover {
    cursor: pointer;
}

.btn-left {
    left: 0.5% !important;
}


.app-hide {
    display: none;
}

/* Left column */
#application-title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
}

#application-filter-ul li {
    list-style: none;
    margin-bottom: 0.3rem;
}

.application-label {
    font-size: 1.1rem;
}

#drawer-bottom {
    background-color: #BCC4DB;
    border: 1px solid #ccc;
    height: 95%;
    width: 90%;
    padding: 0.5rem 0.5rem;
    margin: 5% auto 5% 0;
}

/* Right column */
#search-bar {
    height: 2rem;
    margin-bottom: 2rem;
}

#searchInput {
    float: right;
    height: 2rem;
    width: 40%;
}

/* Recipe table */
#recipes-table {
    text-align: center;
    font-size: 1.1rem;
    width: 100%;
}